$config = {
	server => 'localhost:1389',
	bind_as => 'login@example.com', # test rewrite on bind
	password => 'password',
	search => {
		base => 'dc=example,dc=com',
		filter => 'uid=login',
	},
	attributes_required => [ qw/
		uid
	/ ],
};
